	<section id="call-action">
		<div class="container">
			<h2 class="text-call-action">Vamos fazer o produto digital certo!</h2>
			<a href="mailto:recrutamentosp@concretesolutions.com.br" class="btn-lg btn-master text-button">fale conosco</a>
		</div>
	</section>
	<footer>
	  	<div class="container">
			<div class="row">
				<div class="col-md-4 box-content">
					<h4>Escritórios</h4>
					<div class="officer">
						<h6>São Paulo</h6>
						<p class="number">(11) 4119-0449</p>
						<p class="adress">Rua Flórida, 1670 sala 22 - Brooklin</p>
					</div>
					<div class="officer">
						<h6>Rio de Janeiro</h6>
						<p class="number">(21) 2240-2030</p>
						<p class="adress">Rua São José, 90 cj. 2121 - Centro</p>
					</div>
				</div>
				<div class="col-md-4 box-content">
					<h4>Eventos</h4>
					<ul>
						<li><a href="https://aws.amazon.com/pt/aws-summit-2014/sao-paulo/" target="_blank"><span class="bold">27-05-14 //</span> AWS Summit.</a></li>
						<li><a ><span class="bold">05-06-14 //</span> Coders on Beer SP - Product Discovery.</a></li>
						<li><a href="http://www.itforummais.com.br/" target="_blank"><span class="bold">27 à 31-08-14//</span> IT Fórum.</a></li>
					</ul>
				</div>
				<div class="col-md-4 box-content">
					<h4>Siga-nos!</h4>
					<ul class="social-media-footer">
						<li><a class="facebook" href="https://www.facebook.com/ConcreteS" target="_blank"></a></li>
						<li><a class="twitter" href="https://twitter.com/ConcreteS" target="_blank"></a></li>
						<li><a class="google" href="https://plus.google.com/+ConcretesolutionsBrasil/posts" target="_blank"></a></li>
						<li><a class="linkedin" href="http://www.linkedin.com/companies/concrete-solutions" target="_blank"></a></li>
						<li><a class="youtube" href="https://www.youtube.com/user/concretesolutionsbr" target="_blank"></a></li>
					</ul>
					<div class="newslwtter">
						<p>Receba nossa newsletter:</p>
						<form id="form-newsletter">
							<input type="text" name="email" id="mc-email" placeholder="seu e-mail" autocomplete="off"> 
							<label for="mc-email"></label>
							<button id="send" type="submit" class="send"><span class="ico-mail"></span></button>
						</form>
						<p class="info"></p>
					</div>
				</div>
			</div>
		  	<div class="row">
		  		<p class="align-right copyright">&copy; 2014 concrete solutions. todos direitos reservados.</p>
		  	</div>
  		<div>
  	</footer>
	
	<!-- Scripts -->
	<script src="js/vendor/jquery.min-1.11.0.js"></script>
	<script src="js/vendor/bootstrap.min-3.1.1.js"></script>
	<script src="js/vendor/jquery.fittext-1.2.js"></script>
	<script src="js/vendor/jquery.rss.min-1.4.1.js"></script>
	<script src="js/vendor/jquery.ajaxchimp.min-1.3.0.js"></script>
	<script src="js/concrete.js"></script>
	<script type="text/javascript">
		// Lista Oficial
		$('#form-newsletter').ajaxChimp({
		    url: 'http://concretesolutions.us5.list-manage1.com/subscribe/post?u=0dd8265cc74731cec0c149863&amp;id=26dd60f3a9'
		});
		$(".text1").fitText(2.0);
		$(".text2").fitText(2.6);

		{% if page.is_index == true %}
		$("#blog-content").rss("http://blog.concretesolutions.com.br/feed/atom/", {
	    limit: 2,
	    layoutTemplate: '<div>{entries}</div>',
	    entryTemplate: '<div class="col-md-6 post"><header><h2 class="title-post">{title}</h2><h6 class="author-post">Por: {author} {formattedDate}</h6></header><a href="{url}" target="_blank" class="img-post"><img src="{teaserImageUrl}" class="img-responsive" style="width:500px;height:244px"></a><p>{shortBody}</p><a href="{url}" target="_blank" class="btn-read">Ler mais</a></div>',
	    tokens: {
	        formattedDate: function (entry, tokens) {
	            var date = new Date(entry.publishedDate);
	            return date.toLocaleDateString("pt-BR");
	        }
	    }
		});
		{% endif %}

	</script>
</body>
</html>