	<section id="call-action">
		<div class="container">
			<h2 class="text-call-action">Vamos fazer o produto digital certo!</h2>
			<a href="mailto:comercial@concretesolutions.com.br" class="btn-lg btn-master text-button">fale conosco</a>
		</div>
	</section>
	<footer>
	  	<div class="container">
			<div class="row">
				<div class="col-md-4 box-content">
					<h4>Escritórios</h4>
					<div class="officer">
						<h6>São Paulo</h6>
						<p class="number">(11) 4119-0449</p>
						<p class="adress">Rua Flórida, 1670 sala 22 - Brooklin</p>
					</div>
					<div class="officer">
						<h6>Rio de Janeiro</h6>
						<p class="number">(21) 2240-2030</p>
						<p class="adress">Rua São José, 90 cj. 2121 - Centro</p>
					</div>
				</div>
				<div class="col-md-4 box-content">
					<h4>Eventos</h4>
					<ul>
						<li><a href="https://aws.amazon.com/pt/aws-summit-2014/sao-paulo/" target="_blank"><span class="bold">27-05-14 //</span> AWS Summit.</a></li>
						<li><a ><span class="bold">05-06-14 //</span> Coders on Beer SP - Product Discovery.</a></li>
						<li><a href="http://www.itforummais.com.br/" target="_blank"><span class="bold">27 à 31-08-14//</span> IT Fórum.</a></li>
					</ul>
				</div>
				<div class="col-md-4 box-content">
					<h4>Siga-nos!</h4>
					<ul class="social-media-footer">
						<li><a class="facebook" href="https://www.facebook.com/ConcreteS" target="_blank"></a></li>
						<li><a class="twitter" href="https://twitter.com/ConcreteS" target="_blank"></a></li>
						<li><a class="google" href="https://plus.google.com/+ConcretesolutionsBrasil/posts" target="_blank"></a></li>
						<li><a class="linkedin" href="http://www.linkedin.com/companies/concrete-solutions" target="_blank"></a></li>
						<li><a class="youtube" href="https://www.youtube.com/user/concretesolutionsbr" target="_blank"></a></li>
					</ul>
					<div class="newsletter">
						<p>Receba nossa newsletter</p>
						<form id="form-newsletter" method="post" action="">
							<input type="text" name="email" id="email" placeholder="seu e-mail" autocomplete="off"> 
							<button id="send" class="send"><span class="ico-mail"></span></button>
						</form>
						<p class="info"></p>
					</div>
				</div>
			</div>
		  	<div class="row">
		  		<p class="align-right copyright">&copy; 2014 concrete solutions. todos direitos reservados.</p>
		  	</div>
  		<div>
  	</footer>
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/concrete.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-532914-1', 'concretesolutions.com.br');
	  ga('send', 'pageview');

	</script>
	<script type="text/javascript">
		$(".text1").fitText(2.0);
		$(".text2").fitText(2.6);
	</script>
</body>
</html>