	<section id="call-action">
		<div class="container">
			<h2 class="text-call-action">Vamos fazer o produto digital certo!</h2>
			<a href="mailto:recrutamentosp@concretesolutions.com.br" class="btn-lg btn-master text-button">fale conosco</a>
		</div>
	</section>
	<footer>
	  	<div class="container">
			<div class="row">
				<div class="col-md-4 box-content">
					<h4>Escritórios</h4>
					<div class="officer">
						<h6>São Paulo</h6>
						<p class="number">(11) 4119-0449</p>
						<p class="adress">Rua Flórida, 1670 sala 22 - Brooklin</p>
					</div>
					<div class="officer">
						<h6>Rio de Janeiro</h6>
						<p class="number">(21) 2240-2030</p>
						<p class="adress">Rua São José, 90 cj. 2121 - Centro</p>
					</div>
				</div>
				<div class="col-md-4 box-content">
					<h4>Eventos</h4>
					<ul>
						<li><a href="https://aws.amazon.com/pt/aws-summit-2014/sao-paulo/" target="_blank"><span class="bold">27-05-14 //</span> AWS Summit.</a></li>
						<li><a ><span class="bold">05-06-14 //</span> Coders on Beer SP - Product Discovery.</a></li>
						<li><a href="http://www.itforummais.com.br/" target="_blank"><span class="bold">27 à 31-08-14//</span> IT Fórum.</a></li>
					</ul>
				</div>
				<div class="col-md-4 box-content">
					<h4>Siga-nos!</h4>
					<ul class="social-media-footer">
						<li><a class="facebook" href="https://www.facebook.com/ConcreteS" target="_blank"></a></li>
						<li><a class="twitter" href="https://twitter.com/ConcreteS" target="_blank"></a></li>
						<li><a class="google" href="https://plus.google.com/+ConcretesolutionsBrasil/posts" target="_blank"></a></li>
						<li><a class="linkedin" href="http://www.linkedin.com/companies/concrete-solutions" target="_blank"></a></li>
						<li><a class="youtube" href="https://www.youtube.com/user/concretesolutionsbr" target="_blank"></a></li>
					</ul>
					<div class="newsletter">
						<p>Receba nossa newsletter:</p>
						<form action="http://concretesolutions.us5.list-manage1.com/subscribe/post?u=0dd8265cc74731cec0c149863&amp;id=26dd60f3a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div class="mc-field-group">
								<input type="text" name="EMAIL" id="mce-EMAIL" placeholder="seu e-mail" autocomplete="off"> 
								<label for="mce-EMAIL"></label>
							</div>
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_0dd8265cc74731cec0c149863_26dd60f3a9" tabindex="-1" value=""></div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_0dd8265cc74731cec0c149863_26dd60f3a9" tabindex="-1" value=""></div>
							<button id="mc-embedded-subscribe" type="submit" class="send"><span class="ico-mail"></span></button>
						</form>
						<p class="info"></p>
					</div>
				</div>
			</div>
		  	<div class="row">
		  		<p class="align-right copyright">&copy; 2014 concrete solutions. todos direitos reservados.</p>
		  	</div>
  		<div>
  	</footer>
	
	<!-- Scripts -->
	<script src="js/vendor/jquery.min-1.11.0.js"></script>
	<script src="js/vendor/bootstrap.min-3.1.1.js"></script>
	<script src="js/vendor/jquery.fittext-1.2.js"></script>
	<script src="js/vendor/jquery.rss.min-1.4.1.js"></script>
	<script src="js/vendor/jgestures.min-0.90.js"></script>
	<script src="js/mailchimp.js"></script>
	<script src="js/concrete.js"></script>
	<script type="text/javascript">

		$(".text1").fitText(2.0);
		$(".text2").fitText(2.6);

		{% if page.is_index == true %}
		$("#blog-content").rss("http://blog.concretesolutions.com.br/feed/atom/", {
	    limit: 2,
	    layoutTemplate: '<div>{entries}</div>',
	    entryTemplate: '<div class="col-md-6 post"><header><h2 class="title-post">{title}</h2><h6 class="author-post">Por: {author} {formattedDate}</h6></header><a href="{url}" target="_blank" class="img-post"><img src="{teaserImageUrl}" class="img-responsive" style="width:500px;height:244px"></a><p>{shortBody}</p><a href="{url}" target="_blank" class="btn-read">Ler mais</a></div>',
	    tokens: {
	        formattedDate: function (entry, tokens) {
	            var date = new Date(entry.publishedDate);
	            return date.toLocaleDateString("pt-BR");
	        }
	    }
		});

		$(document).ready(function() {  
	  		 $("#carousel-example-generic")
	  		 .bind('swipeleft',function(){this.carousel('next');})
	  		 .bind('swiperight',function(){this.carousel('prev');});
	   	});  
	});  
		{% endif %}

	</script>
</body>
</html>